@model MyPortfolio.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Contact Me!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-sm-12 form-group">
                @Html.LabelFor(m => m.name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.name, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.name)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                @Html.LabelFor(m => m.email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.email, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.email)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                @Html.LabelFor(m => m.message, new { @class = "control-label" })
                <br />
                @Html.TextAreaFor(m => m.message, new { @class = "form-controls", @rows = "6", @cols = "40" })
                <br />
                @Html.ValidationMessageFor(m => m.message)
            </div>
        </div>
        <div class="blog-content">
            <button class="btn btn-dafault btn-details" type="submit">Send Message</button>
        </div>
    }
</div>