<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johns Blogspot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/plugins/bootstrap/bootstrap.min.css")
    @Styles.Render("~/plugins/ionicons/ionicons.min.css")
    @Styles.Render("~/plugins/animate-css/animate.css")
    @Styles.Render("~/plugins/slider/slider.css")
    @Styles.Render("~/plugins/owl-carousel/owl.carousel.css")
    @Styles.Render("~/plugins/owl-carousel/owl.theme.css")
    @Styles.Render("~/plugins/facncybox/jquery.fancybox.css")
    @Styles.Render("~/css/style.css")
    @Styles.Render("~/Content/Custom.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top animated-header" id="top-bar">
        <div class="container">
            <div class="main-menu navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2 style="color: black; margin-top: 10px;">Johns Blog of Wonder</h2>
            </div>
            <div class="navbar-collapse collapse main-menu">
                @Html.Action("_LoginPartial", "Account")
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Posts", "Index", "BlogPosts")</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="container body-content">*@
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year John Mahoney</p>
    </footer>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/jQurey/jquery.min.js")
    @Scripts.Render("~/plugins/form-validation/jquery.form.js")
    @Scripts.Render("~/plugins/form-validation/jquery.validate.min.js")
    @Scripts.Render("~/plugins/owl-carousel/owl.carousel.min.js")
    @Scripts.Render("~/plugins/bootstrap/bootstrap.min.js")
    @Scripts.Render("~/plugins/wow-js/wow.min.js")
    @Scripts.Render("~/plugins/slider/slider.js")
    @Scripts.Render("~/plugins/facncybox/jquery.fancybox.js")
    @Scripts.Render("~/js/main.js")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/Scripts/tinymce/jquery.tinymce.min.js")
    @Scripts.Render("https://unpkg.com/sweetalert2@7.21.1/dist/sweetalert2.all.js")
    <script type="text/javascript">
        $(function () { tinymce.init({ selector: '#summernote' }); });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
