@model BlogProject.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Are you sure you want to delete?</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            This Post:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color blog-content">
        <input type="submit" value="Delete" class="btn btn-default btn-details" />
        <a class="btn btn-dafault btn-details" href="@Url.Action("Index", "BlogPosts")">Go Back</a>
    </div>
    }
</div>
