@model BlogProject.Models.BlogPost

@{
    ViewBag.Title = "Details";
}


<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="abstractOverflow">@Html.DisplayFor(model => model.title)</h2>
                    <div class="portfolio-meta">
                        <span>@Html.DisplayFor(model => model.created)</span>|
                        <span> Category: @Html.DisplayFor(model => model.category.categoryName)</span>|
                        <span> By: @Html.DisplayFor(model => model.author.displayName)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-img center-block imageBlog">
                    <img class="img-responsive " alt="" src="@Html.DisplayFor(model => model.mediaURL)">
                </div>
                <div class="post-content blogOverflow">
                    @Html.Raw(Model.body)
                </div>
                <hr />
                @*<div class="media">*@
                    @foreach (var item in Model.comments)
                    {
                        <div class="media-body">
                            <h4 class="media-heading">
                                @item.author.displayName
                            </h4>
                            <p class="text-muted">
                                @item.created
                            </p>
                            <p>
                               @item.body
                            </p>
                        </div>
                        <br />
                    }
                @*</div>*@
                <hr />
                <div class="post-comment" id="testTap">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(b => b.id);
                        @Html.Action("Create", "Comments")
                        <div class="form-group">
                            <div class="col-md-12 ridOfLeft">
                                <div class="blog-content">
                                    <button class="btn btn-dafault btn-details" id="btnSendComment" type="submit">Comment</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section scripts{
    <script>
        $('#btnSendComment').click(function(){

            $.ajax({

                url: '@Url.Action("Create", "Comments")',
                type:"GET",
                dataType: "html",
                //data: { id: 1 },//this is as per your requirement
                success: function (data) {
                    $('#testTap').html(data);
                },
            });
        });
    </script>
    }



