@model IEnumerable<BlogProject.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Blog with right sidebar</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog-full-width">
    <div class="container">
        <div class="col-md-8">
            <table class="table">

                @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mediaURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.published)
                </th>
                <th></th>
            </tr>*@

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <a href="post-fullwidth.html"><img class="img-responsive" src="~/images/blog/post-1.jpg" alt="" /></a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blogpost-title">
                                        <a href="post-fullwidth.html">@Html.DisplayFor(modelItem => item.title)</a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span>@Html.DisplayFor(modelItem => item.created)</span>
                                        <span>by <a href="">Admin</a></span>
                                        <span><a href="">business</a>,<a href="">people</a></span>
                                    </div>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.body)
                                    </p>
                                    <h5 class="btn btn-dafault btn-details">@Html.ActionLink("Details", "Details", new { slug = item.slug })</h5>
                                </div>

                            </article>
                        </td>
                        @*<td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updated)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.slug)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mediaURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.published)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                    </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <div class="search widget">
                    <form action="" method="get" class="searchform" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="ion-search"></i> </button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
                
                <div class="recent-post widget">
                    <h3>Recent Posts</h3>
                    @{var mostRecent = Model.OrderByDescending(p => p.created);}
                    <ul>
                    @foreach(var item in mostRecent)
                    {
                        <li>
                            @Html.ActionLink(item.title, "Details", new { slug = item.slug })
                            <br />
                            @Html.DisplayFor(modelItem => item.created)
                        </li>
                    }
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>